*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f4f6f9;
    padding:20px;
}

.container{
    max-width:1200px;
    margin:auto;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.dashboard{
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
    text-align:center;
}

.dashboard p{
    font-size:30px;
    font-weight:bold;
}

.form-section{
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
}

.form-section input{
    width:100%;
    padding:10px;
    margin:8px 0;
}

button{
    padding:10px 20px;
    cursor:pointer;
}

.search-section{
    margin-bottom:20px;
}

.search-section input{
    width:100%;
    padding:10px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th,td{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}

th{
    background:#1e88e5;
    color:white;
}