body{
    text-align:center;
    font-family:Arial,sans-serif;
    background:#1d7d31;
    color:white;
}

canvas{
    background:#2faa45;
    border:4px solid white;
}

button{
    padding:10px 20px;
    font-size:18px;
    cursor:pointer;
}

select{
    padding:8px;
    font-size:18px;
}

.info{
    font-size:22px;
    margin:10px;
}